PrescriptionClient/Connected Services/PrescriptionServiceReference/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49525/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49525/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_GetTestData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestData" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetTestData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllInterchanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInterchanges" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllInterchanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInterchangesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeID_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeID" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeNode_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeNode" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeIDAndNode_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeIDAndNode" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeIDAndNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeIDAndNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeNodeValue_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeNodeValue" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FilterByInterchangeNodeValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterByInterchangeNodeValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="GetTestData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetTestData" message="tns:IWCFService_GetTestData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetTestDataResponse" message="tns:IWCFService_GetTestData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInterchanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetAllInterchanges" message="tns:IWCFService_GetAllInterchanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetAllInterchangesResponse" message="tns:IWCFService_GetAllInterchanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeID" message="tns:IWCFService_FilterByInterchangeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeIDResponse" message="tns:IWCFService_FilterByInterchangeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeNode" message="tns:IWCFService_FilterByInterchangeNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeNodeResponse" message="tns:IWCFService_FilterByInterchangeNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeIDAndNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeIDAndNode" message="tns:IWCFService_FilterByInterchangeIDAndNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeIDAndNodeResponse" message="tns:IWCFService_FilterByInterchangeIDAndNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeNodeValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeNodeValue" message="tns:IWCFService_FilterByInterchangeNodeValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FilterByInterchangeNodeValueResponse" message="tns:IWCFService_FilterByInterchangeNodeValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestData">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetTestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInterchanges">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetAllInterchanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeID">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FilterByInterchangeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeNode">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FilterByInterchangeNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeIDAndNode">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FilterByInterchangeIDAndNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterByInterchangeNodeValue">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FilterByInterchangeNodeValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:49525/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>